body{
  background: #333;
  color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
